<div class="page-top clearfix" scroll-position="scrolled" max-height="50" ng-class="{'scrolled': scrolled}">
  <a href="#/" class="al-logo clearfix"><span>Kozak</span>Group</a>
  <a href class="collapse-menu-link ion-navicon" ba-sidebar-toggle-menu></a>

  <div ng-show="isLoggedIn()" class="user-profile clearfix">
    <div class="al-user-profile" uib-dropdown>
      <a uib-dropdown-toggle class="profile-toggle-link">
        <img ng-src="{{::( 'Alexander' | profilePicture )}}">
      </a>
      <ul class="top-dropdown-menu profile-dropdown" uib-dropdown-menu>
        <li><i class="dropdown-arr"></i></li>
        <li ng-hide="isAdmin()" ><a href="" ng-click="profile()"><i class="fa fa-user"></i>Profile</a></li>
        <li><a href="" ng-click="logOut()" class="signout"><i class="fa fa-power-off"></i>Sign out</a></li>
      </ul>
    </div>
    <!--<msg-center></msg-center>-->
  </div>
</div>
