<div ba-panel ba-panel-class="profile-page">
  <div class="panel-content">
    <!--<div class="progress-info">Your profile is 70% Complete</div>
    <div class="progress">
      <div class="progress-bar progress-bar-primary progress-bar-striped active" role="progressbar"
           aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width: 70%">
      </div>
    </div>-->

    <h3 class="with-line">General Information</h3>

    <div class="row">
      <div class="col-md-6">
        <div class="form-group row clearfix">
          <label for="inputFirstName" class="col-sm-3 control-label">Picture</label>

          <div class="col-sm-9">
            <div class="userpic">
              <div class="userpic-wrapper">
                <img ng-src="{{ picture }}">
              </div>
              <i class="ion-ios-close-outline" ng-click="removePicture()" ng-if="!noPicture"></i>
              <a href class="change-userpic" ng-click="uploadPicture()">Change Profile Picture</a>
              <input type="file" ng-show="false" id="uploadFile" ng-file-select="onFileSelect($files)">
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6"></div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <div class="form-group row clearfix">
          <label for="inputFirstName" class="col-sm-3 control-label">First Name</label>

          <div class="col-sm-9">
            <input type="text" class="form-control" ng-model="user.firstName.ru" id="inputFirstName">
          </div>
        </div>
        <div class="form-group row clearfix">
          <label for="inputLastName" class="col-sm-3 control-label">Last Name</label>

          <div class="col-sm-9">
            <input type="text" class="form-control" ng-model="user.lastName.ru" id="inputLastName">
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group row clearfix">
          <label class="col-sm-3 control-label">Department</label>
          <div class="col-sm-9">
            <select class="form-control" ng-model="user.department" selectpicker>
              <option>PHP Web Development</option>
              <option>JS Web Development</option>
              <option>Sales</option>
            </select>
          </div>
        </div>
        <div class="form-group row clearfix">
          <label for="inputposition" class="col-sm-3 control-label">Position</label>

          <div class="col-sm-9">
            <input type="text" class="form-control" id="inputposition" ng-model="user.position">
          </div>
        </div>
      </div>
        <div class="col-md-6">
          <div class="form-group row clearfix">
            <label for="inputLastName" class="col-sm-3 control-label">Birthday</label>

            <div class="col-sm-9">
              <input type="text" class="form-control" ng-model="user.birthday" id="inputbirthday">
            </div>
          </div>
        </div>
        <div ng-show="getCurrentUser()._id==user._id" class="col-md-6">
          <div class="form-group row clearfix">
            <label for="inputLastName" class="col-sm-3 control-label">Salary</label>

            <div class="col-sm-9">
              <input type="text" class="form-control" ng-model="user.salary" id="inputsalary">
            </div>
          </div>
      </div>
    </div>

    <div ng-show="getCurrentUser()._id==user._id">
    <h3 class="with-line">Change Password</h3>
    <div class="row">
      <div class="col-md-6">
        <div class="form-group row clearfix">
          <label for="inputPassword" class="col-sm-3 control-label">Old Password</label>

          <div class="col-sm-9">
            <input type="password" class="form-control" ng-model="oldPass" id="inputPassword" placeholder="" value="12345678">
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group row clearfix">
          <label for="inputConfirmPassword" class="col-sm-3 control-label">New Password</label>

          <div class="col-sm-9">
            <input type="password" class="form-control" ng-model="newPass" id="inputConfirmPassword" placeholder="">
          </div>
        </div>
      </div>
    </div>
    </div>

    <h3 class="with-line">Contact Information</h3>

    <div class="row">
      <div class="col-md-6">
        <div class="form-group row clearfix">
          <label for="inputEmail3" class="col-sm-3 control-label">Email</label>

          <div class="col-sm-9">
            <input type="email" class="form-control" id="inputEmail" ng-model="user.email">
          </div>
        </div>
        <div class="form-group row clearfix">
          <label for="inputPhone" class="col-sm-3 control-label">Phone</label>

          <div class="col-sm-9">
            <input type="tel" class="form-control" id="inputPhone" ng-model="user.phoneNumber">
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group row clearfix">
          <label class="col-sm-3 control-label">Office Location</label>

          <div class="col-sm-9">
            <select class="form-control" title="Standard Select" ng-model="user.location" selectpicker>
              <option>Zaporizhzhya</option>
              <option>Kyiv</option>
            </select>
          </div>
        </div>
      </div>
    </div>

    <h3 class="with-line">Social Profiles</h3>

    <div class="social-profiles row clearfix">
      <div class="col-md-3 col-sm-4" ng-repeat="item in socialProfiles">

        <a class="sn-link" href ng-click="showModal(item)" ng-if="!item.href">
          <i class="socicon {{ item.icon }}"></i>
          <span>{{ item.name }}</span>
        </a>

        <a class="sn-link connected" href="{{ item.href }}" target="_blank" ng-if="item.href">
          <i class="socicon {{ item.icon }}"></i>
          <span>{{ item.name }}</span>
          <em ng-show="getCurrentUser()._id==user._id" class="ion-ios-close-empty sn-link-close" ng-mousedown="unconnect(item)"></em>
        </a>
      </div>
    </div>

    <button ng-show="getCurrentUser()._id==user._id" ng-click="Update(user, oldPass, newPass)" type="button" class="btn btn-primary btn-with-icon save-profile">
      <i class="ion-android-checkmark-circle"></i>Update Profile
    </button>
  </div>
</div>
