<div class="containter-fluid">
<div ba-panel ba-panel-class="with-scroll">
    <div class="add-row-editable-table col-md-10" ng-show="isAdmin()">
        <button class="btn btn-primary" ng-click="addUser()">Add row</button>
    </div>
    <table class="table table-hover table-condensed" st-table="contacts">
        <thead>
            <tr class="sortable ">
                <th st-sort="firstName">First Name</th>
                <th st-sort="lastName">Last Name</th>
                <th st-sort="position">Position</th>
                <th st-sort="phoneNumber">Phone №</th>
                <th st-sort="email">Email</th>
                <th st-sort="birthday">Birthday</th>
                <th ng-show="isAdmin()" st-sort="salary">Salary</th>
            </tr>
            <tr>
                <th><input st-search="firstName" placeholder="Search First Name" class="input-sm form-control search-input" type="search" /></th>
                <th><input st-search="lastName" placeholder="Search Last Name" class="input-sm form-control search-input" type="search" /></th>
                <th><input st-search="position" placeholder="Search Position" class="input-sm form-control search-input" type="search" /></th>
                <th><input st-search="phoneNumber" placeholder="Search Phone №" class="input-sm form-control search-input" type="search" /></th>
                <th><input st-search="email" placeholder="Search Email" class="input-sm form-control search-input" type="search" /></th>
                <th><input st-search="birthday" placeholder="Search Birthday" class="input-sm form-control search-input" type="search" /></th>
                <th ng-show="isAdmin()"><input st-search="salary" placeholder="Search Salary" class="input-sm form-control search-input" type="search" /></th>
                <th ng-show="isAdmin()"><span style="display: block; text-align: right; padding-right: 50px; line-height: 30px;">Actions</span></th>
            </tr>
        </thead>
        <tbody>
            <tr style="cursor:pointer" ng-repeat="contact in contacts | orderBy:'_id'" class="editable-row">
                <td ng-click="!rowform.$visible && findUser(contact._id)">
                    <span editable-text="contact.firstName" e-name="firstName" e-form="rowform" e-required>
            {{ contact.firstName.ru }}
          </span>
                </td>
                <td ng-click="!rowform.$visible && findUser(contact._id)">
                    <span editable-text="contact.lastName" e-name="lastName" e-form="rowform" e-required>
          {{ contact.lastName.ru }}
        </span>
                </td>
                <td ng-click="!rowform.$visible && findUser(contact._id)" class="select-td">
                      <span editable-select="contact.position" e-name="position" onshow="loadPositions()" e-form="rowform" e-selectpicker
                            e-ng-options="i for i in ['Programmer', 'Analyst', 'Enginer', 'Architect']">
                        {{ contact.position }}
                      </span>
                </td>
                <td ng-click="!rowform.$visible && findUser(contact._id)">
                    <span editable-text="contact.phoneNumber" e-name="phoneNumber" e-form="rowform" e-required>
            {{ contact.phoneNumber }}
          </span>
                </td>
                <td ng-click="!rowform.$visible && findUser(contact._id)">
                    <span editable-text="contact.email" e-name="email" e-form="rowform" e-required>
            {{ contact.email }}
          </span>
                </td>
                <td ng-click="!rowform.$visible && findUser(contact._id)">
                    <span editable-text="contact.birthday" e-name="birthday" e-form="rowform" e-required>
            {{ contact.birthday }}
          </span>
                </td>
                <td ng-show="isAdmin()" ng-click="!rowform.$visible && findUser(contact._id)">
                    <span editable-text="contact.salary" e-name="salary" e-form="rowform" e-required>
            {{ contact.salary }}
          </span>
                </td>
                <td ng-show="isAdmin()">
                  <form editable-form name="rowform" onbeforesave="saveUser(contact, $data)" ng-show="rowform.$visible" class="form-buttons form-inline"
                      shown="inserted == contact">
                  <button type="submit" ng-disabled="rowform.$waiting" class="btn btn-primary editable-table-button btn-xs">
                    Save
                  </button>
                  <button type="button" ng-disabled="rowform.$waiting" ng-click="rowform.$cancel(); cancelUser(contact)" class="btn btn-default editable-table-button btn-xs">
                    Cancel
                  </button>
                </form>
                <div class="buttons" ng-show="!rowform.$visible" style="float: right">
                  <button class="btn btn-primary editable-table-button btn-xs" ng-click="rowform.$show()">Edit</button>
                  <button class="btn btn-danger editable-table-button btn-xs" ng-click="removeUser(contact._id)">Delete</button>
                </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>
</div>
